---
layout: default
title:  
excerpt: "All games sorted by latest release."
---

<div>
<p style="font-size:13pt;">🐉 There are currently <strong>{{ site.posts | size }} entries</strong> in this database.</p>
</div>

<br>

<div id="posts">

  {% for post in site.posts %}
    
    <div class="post">
         

<a href="{{ post.url }}" class="link">
                <span class="title">{{ post.title }}</span> <br> 
            <span class="excerpt">{{ post.excerpt | truncatewords: 20, " ..." }} <br>Read More »</span>

            </a>

              <!--<div class="excerpt"><p>{{ post.excerpt }}</p></div>-->
    </div>

    {% endfor %}

</div>

<!-- Pagination links 
{% if paginator.total_pages > 1 %}
<div class="pagination">

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}" class="next">
      <span>&laquo; Previous Posts</span> 
    </a>
  
  {% endif %}

  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}" class="prev">
      <span style="float:right">Later Posts &raquo;</span>
    </a>
  
  {% endif %}
</div>
{% endif %}-->


<!--For testing purposes
<div class="pagination">
    <a href="{{ paginator.next_page_path | relative_url }}" class="next">
      <span>&laquo; Previous Posts</span> 
    </a>
  
    <a href="{{ paginator.previous_page_path | relative_url }}" class="prev">
      <span style="float:right">Later Posts &raquo;</span>
    </a>
  
</div>-->
