	<p class="excerpt">
		📖 {{ page.excerpt }}<br><br>

		📅 Released {{ page.date | date_to_long_string }}	<br>

		🐉 Type of dragon: 
		{% for tags in page.type %}

		[&nbsp;{{ tags }}&nbsp;]  

		{% endfor %}
		
		<br>📝 Genre: 
		{% for tags in page.genre %}

		[&nbsp;{{ tags }}&nbsp;]  

		{% endfor %}
		
		<br>🎨 Art style: {{ page.artstyle }} <br>

		💻 Platform:			
		{% for tags in page.platform %}
		
		[&nbsp;{{ tags }}&nbsp;] 

		{% endfor %} 

		<br>⬆️ Developer: 

		{% for tags in page.developer %}

		[&nbsp;{{ tags }}&nbsp;]  

		{% endfor %}

		<br>⬇️ Publisher: 
		{% for tags in page.publisher %}
		
		[&nbsp;{{ tags }}&nbsp;] 

		{% endfor %} 

		{% if post.series != nil %} <br>📚 Franchise: 

		{% for tags in page.series %}
		[&nbsp;{{ tags }}&nbsp;] 
		{% endfor %}

		{% endif %} 

		{% if page.suggester != nil %}
		<br>❤️ Suggested by {{ page.suggester }}
		{% endif %}
		<br><br>
		
		ℹ️ More information: {{ page.link }} </p>
		<br>
		🔗 <input type="text" value="{{ site.url }}{{ page.url }}" id="myInput {{ page.title }}">
		<!--<button onclick="myFunction()" title="Copy link to {{ post.title }}.">Copy</button>-->
	
</div>

<!--<script>
function myFunction() {
  var copyText = document.getElementById("myInput {{ page.title }}");
  copyText.select();
  document.execCommand("copy");
  alert("Copied the text: " + copyText.value);
}
</script>-->
