---
layout: default
title: By Developer | 
---

<h1>All Developers</h1>

<h2 id="Bluehole Studio">All Games Developed by Bluehole Studio</h2>
{% for post in site.posts %}
{% if post.developer == "Bluehole Studio" %}
{% include post_preview.html %}
{% endif %}
{% endfor %}

<h2 id="Clover Studio">All Games Developed by Clover Studio</h2>
{% for post in site.posts %}
{% if post.developer == "Clover Studio" %}
{% include post_preview.html %}
{% endif %}
{% endfor %}

<h2 id="Eduweb">All Games Developed by Eduweb</h2>
{% for post in site.posts %}
{% if post.developer == "Eduweb" %}
{% include post_preview.html %}
{% endif %}
{% endfor %}

<h2 id="Nintendo">All Games Developed by Nintendo</h2>
{% for post in site.posts %}
{% if post.developer == "Nintendo" %}
{% include post_preview.html %}
{% endif %}
{% endfor %}

<h2 id="Tale of Tales">All Games Developed by Tale of Tales</h2>
{% for post in site.posts %}
{% if post.developer == "Tale of Tales" %}
{% include post_preview.html %}
{% endif %}
{% endfor %}

<h2 id="Wolfire Games">All Games Developed by Wolfire Games</h2>
{% for post in site.posts %}
{% if post.developer == "Wolfire Games" %}
{% include post_preview.html %}
{% endif %}
{% endfor %}