---
layout: default
title: By Platform | 
---

<h1>All Platforms</h1>

<h2 id="Android">All Games on Android</h2>
{% for post in site.posts %}
{% for tags in post.platform %}
{% if tags == "Android" %}
{% include post_preview.html %}
{% endif %}
{% endfor %}
{% endfor %}

<h2 id="GameCube">All Games on GameCube</h2>
{% for post in site.posts %}
{% for tags in post.platform %}
{% if tags == "GameCube" %}
{% include post_preview.html %}
{% endif %}
{% endfor %}
{% endfor %}

<h2 id="iOS">All Games on iOS</h2>
{% for post in site.posts %}
{% for tags in post.platform %}
{% if tags == "iOS" %}
{% include post_preview.html %}
{% endif %}
{% endfor %}
{% endfor %}

<h2 id="iQue Player">All Games on iQue Player</h2>
{% for post in site.posts %}
{% for tags in post.platform %}
{% if tags == "iQue Player" %}
{% include post_preview.html %}
{% endif %}
{% endfor %}
{% endfor %}

<h2 id="Linux">All Games on Linux</h2>
{% for post in site.posts %}
{% for tags in post.platform %}
{% if tags == "Linux" %}
{% include post_preview.html %}
{% endif %}
{% endfor %}
{% endfor %}

<h2 id="macOS">All Games on macOS</h2>
{% for post in site.posts %}
{% for tags in post.platform %}
{% if tags == "macOS" %}
{% include post_preview.html %}
{% endif %}
{% endfor %}
{% endfor %}

<h2 id="Nintendo 3DS">All Games on Nintendo 3DS</h2>
{% for post in site.posts %}
{% for tags in post.platform %}
{% if tags == "Nintendo 3DS" %}
{% include post_preview.html %}
{% endif %}
{% endfor %}
{% endfor %}

<h2 id="Nintendo 64">All Games on Nintendo 64</h2>
{% for post in site.posts %}
{% for tags in post.platform %}
{% if tags == "Nintendo 64" %}
{% include post_preview.html %}
{% endif %}
{% endfor %}
{% endfor %}

<h2 id="Nintendo DS">All Games on Nintendo DS</h2>
{% for post in site.posts %}
{% for tags in post.platform %}
{% if tags == "Nintendo DS" %}
{% include post_preview.html %}
{% endif %}
{% endfor %}
{% endfor %}

<h2 id="Nintendo Switch">All Games on Nintendo Switch</h2>
{% for post in site.posts %}
{% for tags in post.platform %}
{% if tags == "Nintendo Switch" %}
{% include post_preview.html %}
{% endif %}
{% endfor %}
{% endfor %}

<h2 id="PlayStation 1">All Games on PlayStation 1</h2>
{% for post in site.posts %}
{% for tags in post.platform %}
{% if tags == "PlayStation 1" %}
{% include post_preview.html %}
{% endif %}
{% endfor %}
{% endfor %}

<h2 id="PlayStation 2">All Games on PlayStation 2</h2>
{% for post in site.posts %}
{% for tags in post.platform %}
{% if tags == "PlayStation 2" %}
{% include post_preview.html %}
{% endif %}
{% endfor %}
{% endfor %}

<h2 id="PlayStation 3">All Games on PlayStation 3</h2>
{% for post in site.posts %}
{% for tags in post.platform %}
{% if tags == "PlayStation 3" %}
{% include post_preview.html %}
{% endif %}
{% endfor %}
{% endfor %}

<h2 id="PlayStation 4">All Games on PlayStation 4</h2>
{% for post in site.posts %}
{% for tags in post.platform %}
{% if tags == "PlayStation 4" %}
{% include post_preview.html %}
{% endif %}
{% endfor %}
{% endfor %}

<h2 id="Wii">All Games on Wii</h2>
{% for post in site.posts %}
{% for tags in post.platform %}
{% if tags == "Wii" %}
{% include post_preview.html %}
{% endif %}
{% endfor %}
{% endfor %}

<h2 id="Wii U">All Games on Wii U</h2>
{% for post in site.posts %}
{% for tags in post.platform %}
{% if tags == "Wii U" %}
{% include post_preview.html %}
{% endif %}
{% endfor %}
{% endfor %}

<h2 id="Windows">All Games on Windows</h2>
{% for post in site.posts %}
{% for tags in post.platform %}
{% if tags == "Windows" %}
{% include post_preview.html %}
{% endif %}
{% endfor %}
{% endfor %}

<h2 id="Xbox">All Games on Xbox</h2>
{% for post in site.posts %}
{% for tags in post.platform %}
{% if tags == "Xbox" %}
{% include post_preview.html %}
{% endif %}
{% endfor %}
{% endfor %}

<h2 id="Xbox 360">All Games on Xbox 360</h2>
{% for post in site.posts %}
{% for tags in post.platform %}
{% if tags == "Xbox 360" %}
{% include post_preview.html %}
{% endif %}
{% endfor %}
{% endfor %}

<h2 id="Xbox One">All Games on Xbox One</h2>
{% for post in site.posts %}
{% for tags in post.platform %}
{% if tags == "Xbox One" %}
{% include post_preview.html %}
{% endif %}
{% endfor %}
{% endfor %}
